<div>
testing
<a id="startBot" class="btn btn-primary">Start the bot</a>
</div>
<script>
    document.getElementById('startBot').onclick = function(){
        fetch("/bot/start").then(function(){console.log("done")});
    }
</script>